---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {# <url>
    <loc>{{ '/' | alwaysProductionUrl }}</loc>
  </url>
  <url>
    <loc>{{ '/o-blogniku/' | alwaysProductionUrl }}</loc>
  </url>
  <url>
    <loc>{{ '/blogi/' | alwaysProductionUrl }}</loc>
  </url>
    <url>
    <loc>{{ '/zagadnienia-prawne/' | alwaysProductionUrl }}</loc>
  </url>
    <url>
    <loc>{{ '/prywatnosc/' | alwaysProductionUrl }}</loc>
  </url> #}
</urlset>