---
layout: page
pagination:
    data: folders
    size: 1
    alias: folder
    addAllPagesToCollections: true
permalink: "/{{ folder.slug }}/index.html"
eleventyComputed:
  title: "{{ folder.name }}"
---

hi folder view<br/><br/><br/><br/>
{{ folder.link }}<br/>
{{ folder.slug }}<br/>
{{ folder.name }}<br/><br/><br/>

{% for gallery in folder.galleries %}
    <a href="{{ gallery.link }}">{{ gallery.name }}<br/>
    {{ gallery.date }}<br/>
    <img src="{{ gallery.cover }}" alt="" />
    </a><br/><br/>
{% endfor %}
