---
layout: base
pagination:
    data: apiData.galleries
    size: 1
    alias: gallery
    addAllPagesToCollections: true
permalink: "{{ gallery.link }}"
eleventyComputed:
  title: "{{ gallery.name }}"
  ogImage: "{{ gallery.cover }}"
  ogUrl: "{{ gallery.link }}"
  description: "{{ gallery.name }} - photography gallery on {{ siteConfig.title }}, by {{ siteConfig.author.name }}."
---

<div class="breadcrumb">
  <a href="{{ gallery.parent.folder.link }}">{{ gallery.parent.folder.name }}</a>
  /
  <a href="{{ gallery.link }}" class="current">{{ gallery.name }}</a>
</div>

{# {% if gallery.older %}
Older Gallery: <a href="{{ gallery.older.link }}">{{ gallery.older.name }}</a><br/><br/>
{% endif %}
{% if gallery.newer %}
Newer Gallery: <a href="{{ gallery.newer.link }}">{{ gallery.newer.name }}</a><br/><br/>
{% endif %} #}

<ul class="image-list masonry lightbox">
{% for image in gallery.images %}
  {% set imageAlt %}{{ gallery.name }} - image {{ loop.index }} of {{ gallery.images.length }}{% endset %}
  {% set imageSrc = image.variants.w640 %}
  <li>
    <a href="{{ image.link }}" data-image-href="{{ image.variants.w2048 }}">
      <img
        class="lazy-load-img"
        alt="{{ imageAlt }}"
        data-src="{{ imageSrc }}"
      />
      <noscript>
        <img alt="{{ imageAlt }}" src="{{ imageSrc }}" />
      </noscript>
    </a>
  </li>
{% endfor %}
</ul>