---
layout: page
pagination:
    data: galleryData.galleries
    size: 1
    alias: gallery
    addAllPagesToCollections: true
permalink: "/{{ gallery.parent.folder.slug }}/{{ gallery.slug }}/index.html"
eleventyComputed:
  title: "{{ gallery.name }}"
---

hi gallery view<br/><br/><br/><br/>

Breadcrumb: {{ gallery.parent.folder.name }} -> {{ gallery.name }}<br/><br/>

{{ gallery.name }}<br/><br/>
{{ gallery.link }}<br/><br/>
{{ gallery.date }}<br/><br/><br/>

{% for image in gallery.images %}
<a href="/{{ gallery.parent.folder.slug }}/{{ gallery.slug }}/{{ image.name }}/">
  <img width="600" src="{{ image.variants.o }}" alt="" />
  </a><br/><br/>
{% endfor %}
