---
layout: base
pagination:
    data: apiData.hiddenGalleries
    size: 1
    alias: gallery
    addAllPagesToCollections: true
permalink: "{{ gallery.link }}"
eleventyComputed:
  title: "{{ gallery.name }}"
  ogImage: "{{ gallery.cover }}"
  ogUrl: "{{ gallery.link }}"
  description: "{{ gallery.name }} - photography gallery on {{ siteConfig.title }}, by {{ siteConfig.author.name }}."
---

{% include "partials/gallery-view.njk" %}