---
layout: page
pagination:
    data: galleryData.images
    size: 1
    alias: image
    addAllPagesToCollections: true
permalink: "/{{ image.parent.folder.slug }}/{{ image.parent.gallery.slug }}/{{ image.name }}/index.html"
eleventyComputed:
  title: "{{ image.name }} - {{ image.parent.gallery.name }}"
---

hi single image view<br/><br/><br/><br/>

Breadcrumb: {{ image.parent.folder.name }} -> {{ image.parent.gallery.name }} -> {{ image.name }}<br/><br/><br/>

<img width="600" src="{{ image.variants.o }}" alt="" /><br/><br/>
