---
layout: page
pagination:
    data: galleryData.images
    size: 1
    alias: image
    addAllPagesToCollections: true
permalink: "{{ image.link }}"
eleventyComputed:
  title: "{{ image.name }} - {{ image.parent.gallery.name }}"
---

hi single image view<br/><br/><br/><br/>

{{ image.link }}
<br/><br/>

Breadcrumb: {{ image.parent.folder.name }} -> {{ image.parent.gallery.name }} -> {{ image.name }}<br/><br/><br/>

{% if image.nextImage %}
Next Image: <a href="{{ image.nextImage.link }}">{{ image.nextImage.name }}</a><br/><br/>
{% endif %}
{% if image.previousImage %}
Previous Image: <a href="{{ image.previousImage.link }}">{{ image.previousImage.name }}</a><br/><br/>
{% endif %}

<img width="600" src="{{ image.variants.o }}" alt="" /><br/><br/>
