---
layout: page
pagination:
    data: apiData.images
    size: 1
    alias: image
    addAllPagesToCollections: true
permalink: "{{ image.link }}"
eleventyComputed:
  title: "{{ image.name }} - {{ image.parent.gallery.name }}"
---

hi single image view<br/><br/><br/><br/>

{{ image.link }}
<br/><br/>

Breadcrumb: {{ image.parent.folder.name }} -> {{ image.parent.gallery.name }} -> {{ image.name }}<br/><br/><br/>

{% if image.next %}
Next Image: <a href="{{ image.next.link }}">{{ image.next.name }}</a><br/><br/>
{% endif %}
{% if image.previous %}
Previous Image: <a href="{{ image.previous.link }}">{{ image.previous.name }}</a><br/><br/>
{% endif %}

<img width="600" src="{{ image.variants.o }}" alt="" /><br/><br/>
