---
layout: base
eleventyExcludeFromCollections: true
permalink: /
eleventyComputed:
  description: "Personal photography collection by {{ siteConfig.author.name }}. Cities, events, landscape, nature, people, travels, stories."
---

index<br/><br/><br/>