---
layout: base
permalink: /videos/
eleventyComputed:
  title: Videos
  description: "Videos by {{ siteConfig.author.name }}."
---

<div class="breadcrumb">
  <a href="/videos/" class="current">Videos</a>
</div>

{% for item in apiData.videos %}
  {{ item.name }}<br/>
  {{ item.type }}<br/>
  {{ item.slug }}<br/>
  {{ item.videoId }}<br/><br/>
{% endfor %}