---
permalink: /api/latest.json
eleventyExcludeFromCollections: true
---
{%- for gallery in apiData.galleries|limit(1) -%}
{
  "title": "{{ gallery.name }}",
  "url": "{{ gallery.link | alwaysProductionUrl }}",
  "date": "{{ gallery.date }}"
}
{%- endfor -%}