.breadcrumb {
  margin-bottom: 3rem;

  a {
    font-weight: bold;

    &.current {
      border-bottom: 2px solid var(--text-color);

      &:hover,
      &:focus {
        border-color: var(--pink);
      }
    }
  }
}
