.gallery-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 3rem;

  @include minWidth(1200px) {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }

  li {
    margin: 0;
    padding: 0;

    a:hover,
    a:focus {
      @include transition(color, var(--transition-time));

      img {
        opacity: 0.9;
        @include transition(opacity, var(--transition-time));
      }
    }

    .name {
      margin: 0.25rem 0 0;
      padding: 0;
      line-height: 1.5;
      font-size: 1.125rem;
      font-weight: bold;
    }
  }

  @include maxWidth(540px) {
    display: block;

    li {
      margin-bottom: 2rem;

      .name {
        margin-top: 0;
      }
    }

    img {
      width: 100%;
    }
  }
}
