.nav {
  width: 22rem;
  padding: 3rem;
  position: fixed;

  @include mobile {
    padding: 0;
    min-width: 310px;
    width: 100%;
    position: static;

    .header {
      max-width: 16rem;
    }
  }
}
