.slideshow {
  width: 100%;
  position: relative;

  .pagination {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    .back {
      position: absolute;
      top: 0;
      width: 100%;
      height: 38%;
      cursor: n-resize;
      z-index: 10;
    }

    .previous,
    .next {
      top: 0;
      height: 100%;
      width: 35%;
      position: absolute;
      z-index: 20;
    }

    .previous {
      left: 0;
      cursor: w-resize;
    }

    .next {
      right: 0;
      cursor: e-resize;
    }
  }
}

.single-image {
  text-align: center;

  img {
    max-height: calc(100vh - 14rem);
    max-width: 100%;
  }
}

@include mobile {
  .single-image {
    display: block;
    height: auto;
  }
}
