<!DOCTYPE html>
<html lang="{{ siteConfig.language }}">
<head>
  {% include "partials/head.njk" %}
</head>
<body>
  {% include "partials/header.njk" %}
  {% include "partials/menu.njk" %}

  {{ content | safe }}

  {% include "partials/footer.njk" %}
</body>
</html>
