<!DOCTYPE html>
<html class="no-js" lang="{{ siteConfig.language }}">
<head>
  {% include "partials/head.njk" %}
</head>
<body>
  <div class="wrapper">
    {% include "partials/nav.njk" %}
    <div class="content">
      {{ content | safe }}
    </div>
  </div>
</body>
</html>
