.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  max-height: 40px;
  text-transform: uppercase;
  color: var(--black);

  span {
    line-height: 1;
  }

  svg {
    max-width: 40px;

    .logo-svg-background {
      fill: transparent;
    }
  }
}
