---
layout: page
title: About
eleventyExcludeFromCollections: true
permalink: /about/
description: My name is Łukasz Wójcik and this cheesily named site is my collection of photos.
---

<img class="my-photo" src="/images/me.jpg" alt="Photo of me" />

<p>My name is <a href="{{ siteConfig.author.url }}">Łukasz Wójcik</a> and this cheesily named site is my collection of photography.</p>

<p>I live in <a href="https://www.openstreetmap.org/search?query=Warsaw%2C%20Poland#map=11/52.2331/21.0615">Warsaw, Poland</a> and I'm a software developer by profession.</p>

<p>I've been an amateur photographer since 2010s. I'm primarily interested in documentary and history. I capture moments to preserve stories unfolding in front of me. I also enjoy street photography and capturing landscapes.</p>

<p>I use Nikon mirrorless or my smartphone.</p>

<p>Want to get in touch? <a href="{{ siteConfig.author.contact }}">Feel free to contact me!</a></p>

<p>I post some of my photos on social media nearby. Visit the <a href="/subscribe/">Subscribe page</a> to learn more.</p>

<blockquote>
  There's no new ideas in the world. There is only new arrangement of things. Everything is new, every minute is new. The world is being created every minute, and the world is falling to pieces every minute.
  <footer>– Henri Cartier-Bresson</footer>
</blockquote>
