{% set siteTitle = siteConfig.title %}
{% set siteDescription = siteConfig.description %}

{%- set pageTitle -%}
  {%- if title -%}
    {{ title | safe }} - {{ siteTitle }}
  {%- else -%}
    {{ siteTitle }} - {{ siteDescription }}
  {%- endif -%}
{%- endset -%}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ pageTitle }}</title>
<meta name="description" content="{{ siteConfig.description }}">
<meta property="og:type" content="website">
<meta property="og:image" content="/apple-touch-icon.png">
<link rel="stylesheet" href="{{ '/css/style.css' | addHash }}">
<script src="{{ '/js/vendors/lightbox.js' }}"></script>
<script src="{{ '/js/vendors/swiped-events.js' }}"></script>
<script src="{{ '/js/scripts.js' }}"></script>
<meta name="generator" content="{{ siteConfig.generator.name }} v{{ siteConfig.generator.version }}">
{% favicons 'content/_includes/svg/logo.svg', appleIconBgColor='#000' %}
