{% set siteTitle = siteConfig.title %}
{% set siteDescription = siteConfig.description %}

{%- set pageTitle -%}
  {%- if title -%}
    {{ title | safe }} - {{ siteTitle }} {{ siteDescription }}
  {%- else -%}
    {{ siteTitle }} {{ siteDescription }}
  {%- endif -%}
{%- endset -%}

{%- set openGraphImage -%}
  {%- if ogImage -%}
    {{ ogImage | alwaysProductionUrl }}
  {%- else -%}
    {{ "/apple-touch-icon.png" | alwaysProductionUrl }}
  {%- endif -%}
{%- endset -%}

{%- set openGraphUrl -%}
  {%- if ogUrl -%}
    {{ ogUrl | alwaysProductionUrl }}
  {%- else -%}
    {{ "/" | alwaysProductionUrl }}
  {%- endif -%}
{%- endset -%}

{%- set metaDescription -%}
{%- if description -%}
{{ description }}
{%- else -%}
{{ siteConfig.defaultMetaDescription }}
{%- endif -%}
{%- endset -%}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ pageTitle | safe }}</title>
<meta name="description" content="{{ metaDescription }}">
<meta property="og:type" content="website">
<meta property="og:image" content="{{ openGraphImage }}">
<meta property="og:url" content="{{ openGraphUrl }}" />
<meta property="og:description" content="{{ metaDescription }}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="robots" content="noai, noimageai">
{% if gallery.hidden or folder.hidden or image.parent.folder.hidden %}<meta name="robots" content="noindex">{% endif %}
<link rel="alternate" type="application/rss+xml"  title="{{ siteConfig.title }} {{ siteConfig.description }} RSS Feed" href="{{ siteConfig.rssFeed }}" />
<link rel="stylesheet" href="{{ '/css/style.css' | addHash }}">
<script src="{{ '/js/vendors/lightbox.js' | addHash }}"></script>
<script src="{{ '/js/vendors/swiped-events.js' | addHash }}"></script>
<script src="{{ '/js/scripts.js' | addHash }}"></script>
<meta name="generator" content="{{ siteConfig.generator.name }} v{{ siteConfig.generator.version }}">
<link rel="me" href="{{ siteConfig.author.fediverse.mastodon }}" title="Mastodon" />
<link rel="me" href="{{ siteConfig.author.fediverse.pixelfed }}" title="Pixelfed" />
{%- favicons 'content/_includes/svg/logo.svg', appleIconBgColor='#dddddd' -%}
