<header class="header">
  <a href="/" class="logo">
    {% include "svg/logo.svg" %}
    <span class="container">
      <span class="title">{{ siteConfig.title }}</span>
      <span class="description">{{ siteConfig.description }}</span>
    </span>
  </a>
</header>