<menu class="menu">
  <ul>
    {% for item in apiData.folders %}
      {% if item.hidden !== true %}
        {%- set currentSlug -%}
          {%- if folder.link -%}
            {{ folder.link }}
          {%- endif -%}
          {%- if gallery.parent.folder.slug -%}
            /{{ gallery.parent.folder.slug }}/
          {%- endif -%}
          {%- if image.parent.folder.slug -%}
            /{{ image.parent.folder.slug }}/
          {%- endif -%}
        {%- endset -%}
        <li>
          <a href="{{ item.link }}"{% if item.link === currentSlug %} class="selected"{% endif %}>
            <span>
              {{ item.name }}
            </span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
    <li>
      <a href="/videos/"{% if permalink === "/videos/" %} class="selected"{% endif %}><span>Videos</span></a>
    </li>
    <li>
      <a href="/about/"{% if permalink === "/about/" %} class="selected"{% endif %}><span>About</span></a>
    </li>
    <li>
      <a href="/subscribe/"{% if permalink === "/subscribe/" %} class="selected"{% endif %}><span>Subscribe</span></a>
    </li>
  </ul>
  <ul class="theme-toggle">
    <li>
      <button class="text-link theme-toggle-link">{% include "svg/theme-switch.svg" %} Toggle theme</button>
    </li>
  </ul>
</menu>