<div class="nav">
  {% include "partials/header.njk" %}
  {% include "partials/mobile-menu-btn.njk" %}
  <div class="mobile-menu-wrapper">
    {% include "partials/menu.njk" %}
    {% include "partials/footer.njk" %}
  </div>
</div>