{% if totalPages > 1 %}
  <nav class="pagination">
    <ul>
      <li class="links previous">
        {% if previousHref %}
          <a href="{{ previousHref }}">
            <span class="arrow">&larr; </span>Poprzednia
          </a>
        {% else %}
          <span class="inactive-link">
            <span class="arrow">&larr;</span>Poprzednia
          </span>
        {% endif %}
      </li>
      {% if currentPage %}
      <li class="current">
        Strona {{ currentPage }} z {{ totalPages }}</span>
      </li>
      {% endif %}
      <li class="links next">
      {% if nextHref %}
        <a href="{{ nextHref }}">
          Następna <span class="arrow">&rarr;</span>
        </a>
      {% else %}
        <span class="inactive-link">
          Następna <span class="arrow">&rarr;</span>
        </span>
      {% endif %}
    </li>
  </ul>
</nav>
{% endif %}
