@import "vendors";
@import "variables";
@import "partials";

body {
  font-size: var(--base-size);
  font-family: var(--sans-serif), var(--emoji-font-family);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--link-color);

  &:hover {
    color: var(--pink);
  }
}
